html, body{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif,'Roboto';
  font-size: 100%;
  background:#0f0f0a;
}
body a {
	transition:0.4s all;
	-webkit-transition:0.4s all;
	-moz-transition:0.4s all;
	-o-transition:0.4s all;
	-ms-transition:0.4s all;
}
body a:hover,h5.top a:hover,.b-text h5 a:hover,.b-bottom-text h5 a:hover,.b-text h6 a:hover,.b-bottom-text h6 a:hover{
    color:#0003F0;	
}
a:hover{
 text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.logo a {
    display: block;
}
.content {
	margin:0;
	padding:0px;
}
.content p:last-child {
	margin: 0;
}
.content a.button {
	display: inline-block;
	padding: 10px 20px;
	background: #ff0;
	color: #000;
	text-decoration: none;
}
.content a.button:hover {
	background: #000;
	color: #ff0;
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0!important;
	border: 1px solid transparent;
}
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.navbar-brand {
	float: left;
	padding: 7px 0 0 0!important;
	font-size: 18px;
	line-height: 0px!important;
	height: 0px!important;

 }
.navbar-default  a.navbar-brand h1{
	color:#0001FC!important;
	font-weight: bold;
	padding-left:5px
}
.navbar-default .navbar-nav>li>a {
	color: #282828;
	font-size: 0.95em;
	font-weight: bold;
}
.navbar-nav>li>a {
	padding-top: 18px;
	padding-bottom: 15px;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a.active {
	color:#ee5656;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: white;
	color:#ee5656;
}
.navbar-default .navbar-brand span{
	color:#FD0100!important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #202020;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:#ee5656;
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #202002!important;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.navbar-default .navbar-toggle {
	border-color: #202020;
}
.content.white {
	background: #fff;
    padding: 1em 0;
}